ion-card {
    border-radius: 0;
    height: 200px;
}

ion-card:nth-child(1) {
    margin-bottom: 0;
    background-color: rgb(31, 233, 216);
    color: #000;
}

ion-card:nth-child(2) {
    margin-top: 0;
}

ion-input {
    margin: 64px 24px;
    border-bottom: 1px solid white;
    border-width: 0 0 2px 0;
    width:50%;
    font-size: 1.2rem;
}
.inputTwo {
    border-bottom: 1px solid rgb(97, 93, 93);
}

ion-content {
    position: relative;
}
.swap { 
    position: absolute;
    top: 190px;
    right: 50px;
}

ion-button {
    border: 0.5px solid rgb(181, 181, 184);
    border-radius: 10px;
}

ion-select {
    position: absolute;
    top: 34%;
    // border: 1px solid black;
    width: 30%;
    right: 10%;
}