<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Utilities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <ion-button routerLink="/currency" color="success">Currency</ion-button>
    <ion-button routerLink="/world-clock" color="warning">World Clock</ion-button>
    <!-- <ion-button routerLink="/unit-converter" color="danger">Unit Converter</ion-button>
    <ion-button routerLink="/compass" color="tertiary">Compass</ion-button> -->
  </section>
</ion-content>
